@keyframes jeleia {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes move{
	0%, 20%, 60%, 100%{
		-webkit-transform: rotate(20deg);	
		transform: rotate(20deg);	
	}
	40%{
		-webkit-transform: rotate(-10deg);	
		transform: rotate(-30deg);	
	}
	80%{
		-webkit-transform: rotate(-5deg);	
		transform: rotate(-20deg);	
	}
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

*{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar { /* Tamanho */
    width: 8px;
}
::-webkit-scrollbar-thumb { /* Barra */
    background: linear-gradient(#262626,red); 
    border-radius: 10px;
	transition:1s;
}
::-webkit-scrollbar-thumb:hover { /* Barra */
    background: linear-gradient(#262626,#9d1101); 
}
::-webkit-scrollbar-track { /* Fundo */
    background: #262626; 
}
.checkbox-btn div{ 
	border:4px solid #560900;
}
body{
	background-color:#e94a39;
}
header{
	width:100%;
	height:70px;
	background-color:#9d1101;
	position:fixed;
	margin-top:-120px;
	z-index:6;
}
.trapezio {
	position:relative;
	margin-top:60px;
	border-top: 40px solid #9d1101;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0px;
	width: 300px;
}
nav a{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	margin-top:-30px;
	margin-left:-30px;
	position:fixed;
	z-index:1;
}
nav a:hover{
	animation: tada 1s;
}
#logo{
	position:absolute;
	width:55px;
	height:55px;
	margin-top:-95px;
	margin-left:20px;
}
header i{
	font-size:35px;
	color:#fff;
	right:30px;
	top:17.5px;
	position:absolute;
	cursor:pointer;
	transform: rotate(-20deg);
	transition:1.5s;

}
header i:hover{
	animation: move 0.5s infinite;
}
section{
	width:100%;
	height:800px;
}
article{
	width:100%;
	height:750px;
	background-color:#d32815;
	margin-top:120px;
}
footer{
    bottom:0;
    width:100%;
	height:75px;
	background-color:#9d1101;
}
.baixo{
	font-size:14px;
	color:#fff;

}
.fab{
	float:right;
	color:#fff;
	margin:10px;
	margin-top:25px;
	font-size:30px;
	cursor:pointer;
	transition: 0.3s;
}	
.fab:hover {
	animation: jeleia 1s;
}	
footer p{
	padding:20px;
	position:absolute;
	color:#fff;
}